canvas{
    position: fixed;
    top: 0;
    bottom: 0;
    color: 'black';
}

/* main{
    position:fixed;
    width: 100vw;
    z-index: 99;
    width:100;
    margin: 0px auto;
    
    color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
} */